/* imports */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

html {
    height: 100%;
}

hr {
    mix-blend-mode: difference;
}

body {
  text-align: center;
  /* General */
  width: device-width;
  margin: 0;

  /* Background Gradient */
  background-repeat: no-repeat;
  background: rgb(23,174,204);
background: linear-gradient(180deg, rgba(23,174,204,1) 0%, rgba(196,204,21,1) 50%, rgba(23,174,204,1) 100%);
  background-size: 400% 400%;
  /* Animation */
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

.github-img {
    width: 10%;
    height: auto;
}

.facebook-img {
    width: 10%;
    height: auto;
}

.instagram-img {
    width: 10%;
    height: auto;
}

.twitter-img {
    width: 10%;
    height: auto;
}

h5 {
    margin-top: 0;
}

.gray {
    color: gray;
}

.myTeamSubmit {
  background-color: white;  /*Green */
  border: none;
  color: black;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  font-family: 'Roboto Mono', monospace;
  
}

.myTeamButton {
      background-color: white;  /*Green */
  border: none;
  color: black;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  font-family: 'Roboto Mono', monospace;
}

tr {
  font-family: 'Work Sans', sans-serif;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 5vh;
  list-style-type: none;
}

.numLabel {
  font-family: 'Abel', sans-serif;
  font-size: 3vh;
}

.submit-form {
  background-color: white;  /*Green */
  border: none;
  color: black;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  font-family: 'Roboto Mono', monospace;
}

.numHeading {
    font-family: 'Abel', sans-serif;
    font-size: 3vh;
}

.logoPic {

}

/* Everything Forms */
form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.myTeamInput {
    height: 3vh;
}

select {
  background-color: #f5f2d0;
  width: 50vw;
  font-family: 'Abel', sans-serif;
  font-size: 2.5vh;
}
option {
  font-family: 'Abel', sans-serif;
  font-size: 3vh;
}

img {
  height: 10vh;
  float: center;
}

/* CLASSES */

/* Header Classes */


.header {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  height: 10vh;
}

.header a {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.logo {
  /* margin-top: 4vh; */
  display: inline-block;
  size: 50%;
}

/* .original-option {
  font-size: 1.75vw;
} */

.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

a.normal {
  text-decoration: none;
  color: black;
}

.table tr:nth-child(even){background-color: rgba(0, 0, 0, 0.2);}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }

}

/* More Classes */


.table-container {
    margin-right: auto;
    margin-left: auto;
    float: center;
}



.massive {
  font-size: 20vw;
  font-family: 'Tomorrow', sans-serif;
}

.websiteButton {
  margin-top: 10vh;
  background-color: white;  /*Green */
  border: none;
  color: black;
  padding: 3vw 7vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  margin-bottom: 10vh;
  font-family: 'Roboto Mono', monospace;
}



.nameHeading {
  width: device-width;
  font-size: 15vw;
  font-family: 'Tomorrow', sans-serif;
  
}

.blank_space {
  margin-top: 10px;
}

.yearsParticipated {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.location {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
    margin-top: 3vh;
    color: rgb(20, 20, 20);
}

.teamCountry {
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    margin-bottom: 3vh;
    margin-top: 1.5vh;
    color: rgb(66, 66, 66);
}
.rightSize {
    width : device-width;
    overflow-x: hidden;
}
.title-heading {
    position: absolute;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    width: device-width;
}

.inline-centering {
    margin-top: 30px;
    /* text-align: center; */
}

.theader {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.75);
}

.server-status {
    width: 50%;
    display: inline-block;
}

.event-name {
  font-family: 'Tomorrow', sans-serif;
}

.loading-div {
  display: inline-block;
  text-align: center;
  height: 62.3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.loading {
  display: block;
  margin:0 auto;
  margin-bottom: 3vw;

}
.center-header {
  /* margin-left: 50vw; */
  /* width: device-width; */
}

/* More Animation Stuff */
@-webkit-keyframes AnimationName {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@keyframes AnimationName {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
