/* imports */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

body {
  width: device-width;
  /* background-color: #000000;
  background-image: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(215,255,0,1) 0%, rgba(0,212,255,1) 100%);
  background-size: 300% 300%; */
  margin: 0;
  background-repeat: no-repeat;
  /* background-attachment: fixed;
  animation: change 15s infinite; */
  background: linear-gradient(320deg, #adf006, #072cc3);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;


}

form {
  margin-top: 20px;
}

select {
  background-color: #f5f2d0;
  width:50vw;
  font-family: 'Abel', sans-serif;
  font-size: 15px;
}
option {
  font-family: 'Abel', sans-serif;
  font-size: 1.5vw;
}
html {
    height: 100%;
}

.Medium {
  height: 4vw;
}




.header {
  overflow: hidden;
  background-color: white;
}

.header a {
  float: left;
  text-align: center;
  /* padding: 12px; */
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
float: left;
  }
}



img {
  width: 70px;
  height: 70px;
  float: left;
}

.massive {
  font-size: 20vw;
  font-family: 'Tomorrow', sans-serif;
  /* color: #ffc740; */
  /* mix-blend-mode: difference; */
}

.blank_space {
  margin-top: 10px;
}



.title-heading {
    position: absolute;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    width: device-width;

}
.inline-centering {
    margin-top: 30px;
    text-align: center;
}
.listStuff {
  padding: 0;
  margin:0;
}
/* .display-area {
    background-color: rgb(197, 197, 197);
    max-width: device-width;
    width: 50%;
    display: inline-block;
    text-align: center;
} */

.server-status {
    width: 50%;
    display: inline-block;
}


/* li {
  font-family: 'Source Sans Pro', sans-serif;
  align-content: center;
  text-align: center;
  height: 40px;
  list-style: none;
  margin-top: `10px;
  margin-bottom: 10px;
}

ul {
    padding-left: 0px;
} */

li:hover{
  background-color: rgb(204, 204, 204);
  font-size: 25px;
}

/* body {
  background: repeating-linear-gradient(-45deg, rgb(235, 50, 50), #8ce23b, rgb(96, 44, 218), rgb(212, 46, 46));
background-size: 550% 550%;
position: relative;
animation: change 8s ease-in-out infinite;
}
*/

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
